* {
	font-family: times;
	font-size: 12pt;
	color: black;
	text-align: justify;
}

ul, a {
	display:none;
}

.bold {
	margin-left: 1em;
	text-decoration: underline;
	font-weight: bold;
}
		
.margin {
	margin-left: 1em;
	text-align: justify;
	margin-right: 1em;
}
		
.spacing {
	margin: 0.5em;
	padding: 0.5em;
}
		
.important{
	font-weight: bold;
}
		
.italic {
	font-weight: bold;
	font-style: italic;
	font-size: 0.9em;
}